<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Тестовое задание</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
<h3>{{title}}</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <!-- Search: <input ng-model="query"> -->
            <p>{{dropdown1_title}}</p>
            <p><select ng-model="producer">
                <option value="">Не выбрано</option>
                <option ng-repeat="producer in dropdown1_uniq"
                        value="{{producer}}">{{producer}}
                </option>
            </select></p>
            <p>{{dropdown2_title}}</p>
            <p> <select ng-model="color">
                <option value="">Не выбрано</option>
                <option ng-repeat="color in dropdown2_uniq"
                        value="{{color}}">{{color}}
                </option>
            </select></p>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <!-- <li ng-repeat="phone in phones | filter:query"> -->
                <li ng-repeat="phone in phones | filter:producer | filter:color">
                    {{phone.name}}
                    <p>{{phone.about}}
                    Цвет: {{phone.color}}
                    Цена: {{phone.price}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
<!--
<ul>
	<li ng-repeat="phone in phones">
		<span>{{phone.name}}</span>
		<p>{{phone.snippet}}</p>
	</li>
</ul>
<p>Общее кол-во телефонов: {{phones.length}}</p>
<table>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7,8]">
        <td>{{i+1}}</td>
    </tr>
</table>
-->
</body>
</html>
